<%= form_for :comment do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, required: true, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary", controller: 'comments', action: 'create' %>
<% end %>