
<%#= link_to "<button type="button">Create Event!</button>".html_safe, users_path, :id => "button_id", :class => "button_class" %>
<%#= button_to "Create Event", events_new_path, method: :get %>

<%#= button_to "Show Events", events_show_path, method: :get %>
<p> Search the events you love </p>