<footer class="footer">
  <small>
    The <a href="https://in.linkedin.com/in/shiv-prasad-chabarval-664876a2">A Website for couducting events </a>
    by <a href="https://in.linkedin.com/in/shiv-prasad-chabarval-664876a2">Shiv and Paras</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://in.linkedin.com/in/shiv-prasad-chabarval-664876a2">News</a></li>
    </ul>
  </nav>
</footer>